{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "string-quotes": "double",
    "max-nesting-depth": 3,
    "indentation": 2,
    "rule-empty-line-before": null,
    "selector-class-pattern": null,
    "max-line-length": 80,
    "no-missing-end-of-source-newline": null,
    "order/properties-alphabetical-order": null
  }
}

