/* ==========================================================================
   PAGE ELEMENT
   ========================================================================== */

/**
 * Anything else than defining a font-size would be too much opinion for a
 * boilerplate.
 */

$font-size-h1: $global-font-size * 2 !default;
$font-size-h2: $global-font-size * 1.75 !default;
$font-size-h3: $global-font-size * 1.5 !default;
$font-size-h4: $global-font-size * 1.25 !default;
$font-size-h5: $global-font-size * 1.125 !default;
$font-size-h6: $global-font-size !default;


h1 {
    @include font-size($font-size-h1);
}

h2 {
    @include font-size($font-size-h2);
}

h3 {
    @include font-size($font-size-h3);
}

h4 {
    @include font-size($font-size-h4);
}

h5 {
    @include font-size($font-size-h5);
}

h6 {
    @include font-size($font-size-h6);
}
