:root {
  --pre-color: hsl(216, 14%, 93%);
}

.demo {
  background-color: hsla(0, 100%, 100%, 0.15);
}

.demo--fixed-height {
  height: 150px;
}

pre {
  white-space: pre-wrap;
  color: var(--pre-color);
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1 {
  margin: 0.67em 0;
}

h2 {
  padding-bottom: 0.3rem;
}
