/* ==========================================================================
   #TEXT UTILITY
   ========================================================================== */

/**
 * Usual text utility classes to overcome the common text management needs.
 */





/* Alignment.
   ========================================================================== */


$alignments: (
  left: left,
  center: center,
  right: right,
  justify: justify
);

@each $name, $value in $alignments {
  .u-text-#{$name} {
    text-align: $value !important;
  }
}




/* Sizing.
   ========================================================================== */


.u-text-h1 {
  @include font-size($font-size-h1, true);
}

.u-text-h2 {
  @include font-size($font-size-h2, true);
}

.u-text-h3 {
  @include font-size($font-size-h3, true);
}

.u-text-h4 {
  @include font-size($font-size-h4, true);
}

.u-text-h5 {
  @include font-size($font-size-h5, true);
}

.u-text-h6 {
  @include font-size($font-size-h6, true);
}





/* Weights.
   ========================================================================== */


$weights: (
  "hairline": 100,
  "thin": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900
);

@each $name, $value in $weights {
  .u-text-#{$name} {
    font-weight: $value !important;
  }
}





/* Style.
   ========================================================================== */


.u-text-italic {
  font-style: italic !important;
}





/* Transform.
   ========================================================================== */


$weights: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize
);

@each $name, $value in $weights {
  .u-text-#{$name} {
    text-transform: $value !important;
  }
}





/* Decoration.
   ========================================================================== */


$weights: (
  underline: underline,
  line-through: line-through,
  no-underline: none
);

@each $name, $value in $weights {
  .u-text-#{$name} {
    text-decoration: $value !important;
  }
}
