/* ==========================================================================
   WIDTH UTILITY
   ========================================================================== */

/**
 * Basic common width utilities.
 */

.u-width-none {
  width: 0 !important;
}

.u-width-full {
  width: 100% !important;
}

.u-width-screen {
  width: 100vw !important;
}
