/* ==========================================================================
   WIDTH UTILITY
   ========================================================================== */

/*
 * This will generate a series of utility classes that give a fluid width to
 * whichever element they’re applied, e.g.:
 *
 *   <img src="" alt="" class="u-1/2" />
 *
 * Remember that the Grid Object is using another classes to set its item
 * widths, so this utility classes are meant to be used with another elements
 * of the project.
 */



/*
 * Loop through values and generate the classes.
 */

@each $denominator in $global-width-fractions {
  @for $numerator from 1 through $denominator {

    .u-#{$numerator}\/#{$denominator} {
      width: ($numerator / $denominator) * 100% !important;
    }

  }
}





/**
 * If we’re using Sass-MQ, automatically generate grid system(s) for each of our
 * defined breakpoints, and give them a Responsive Suffix, e.g.:
 *
 * <div class="u-3/12@mobile">
 */
 
@if (variable-exists(mq-breakpoints)) {
  
  $breakpoint-separator: \@ !default;
  $widths-delimiter: \/ !default;
  
  @each $breakpoint-name, $breakpoint-value in $mq-breakpoints {
    
    @include mq($from: $breakpoint-name) {
      
      @each $denominator in $global-width-fractions {
        @for $numerator from 1 through $denominator {

          .u-#{$numerator}#{$widths-delimiter}#{$denominator}#{$breakpoint-separator}#{$breakpoint-name} {
            width: ($numerator / $denominator) * 100% !important;
          }
          
        }
      }

    }

  }
  
}
