/* ==========================================================================
   GRID OBJECT
   ========================================================================== */


/**
 * Grid-like layout system, the Flexbox way.
 *
 * Usually you'll want to combine the Grid Object with width modifiers such as:
 *
 *   <div class="o-grid">
 *     <div class="o-grid__item u-1/2">
 *     </div>
 *     <div class="o-grid__item u-1/2">
 *     </div>
 *   </div>
 *
 *
 * 1. Remove any leftover styling from lists.
 * 2. We need to defensively reset any box-model properties.
 * 3. Sets a basic gutter to place the items of the layout.
 * 4. Grid items can be flowed into multiple lines. Prevents overflow.
 */

.o-grid {
    display: flex;
    list-style: none; /* [1] */
    margin: 0; /* [2] */
    padding: 0; /* [2] */
    margin-left: -1 * $global-spacing-unit; /* [3] */
    flex-flow: row wrap; /* [4] */
}


/**
 * 1. Items will be size according to its size property (which can itself
 *    be auto, which then sizes the element based on its content).
 * 2. Gutter provided by left padding.
 */

.o-grid__item {
    flex: 0 0 auto; /* [1] */
    padding-left: $global-spacing-unit; /* [2] */
}





/* Display modifiers.
   ========================================================================== */

/**
 * This modifier makes every grid item to naturally space themsevles equally
 * and expand to fit the entire row.
 * This is really useful when we don't know how many items a grid will have or
 * when all grid items should have the same width.
 *
 * 1. We don't want items to expand to another row, but to fit the actual.
 * 2. Items just naturally space themselves equally and expand to fit the
 *    entire row.
 */

.o-grid--liquid {
    flex-wrap: nowrap; /* [1] */

    > .o-grid__item {
        flex: 1; /* [2] */
    }
}


/**
 * This modifier will equal height of siblings.
 */

.o-grid--stretch {
    align-items: stretch;

    > .o-grid__item {
        display: flex;
    }
}


/**
 * This modifier will sizes the item based on its width/height properties
 * (or its content if not set).
 *
 * 1. Same as `flex: 0 1 auto`
 */

.o-grid--auto {

    > .o-grid__item {
        flex: initial; /* [1] */
    }
}





/* Vertical alignment modifiers.
   ========================================================================== */

.o-grid--bottom {
    align-items: flex-end;
}

.o-grid--middle {
    align-items: center;
}





/* Gutter size modifiers.
   ========================================================================== */

.o-grid--flush {
    margin-left: 0;

    > .o-grid__item {
        padding-left: 0;
    }
}


.o-grid--tiny {
    margin-left: -1 * $global-spacing-unit-tiny;

    > .o-grid__item {
        padding-left: $global-spacing-unit-tiny;
    }
}


.o-grid--small {
    margin-left: -1 * $global-spacing-unit-small;

    > .o-grid__item {
        padding-left: $global-spacing-unit-small;
    }
}


.o-grid--large {
    margin-left: -1 * $global-spacing-unit-large;

    > .o-grid__item {
        padding-left: $global-spacing-unit-large;
    }
}


.o-grid--huge {
    margin-left: -1 * $global-spacing-unit-huge;

    > .o-grid__item {
        padding-left: $global-spacing-unit-huge;
    }
}





/* Space modifiers.
   ========================================================================== */

.o-grid--reverse {
    flex-direction: row-reverse;
}





/* Space modifiers.
   ========================================================================== */

.o-grid--around {
    justify-content: space-around;
}

.o-grid--between {
    justify-content: space-between;
}

.o-grid--center {
    justify-content: center;
}

.o-grid--end {
    justify-content: flex-end;
}





/* Wrapper modifiers.
   ========================================================================== */

/**
 * Wrap items with a padding instead of using the padding as a column gutter.
 */

.o-grid--wrapped {
    margin-left: 0;

    > .o-grid__item {
        padding: $global-spacing-unit;
        padding-left: 0;

        &:first-of-type {
            padding-left: $global-spacing-unit;
        }
    }


    /* Size variants. We need to update the values depending on size modifier.
    ========================================================================= */

    &.o-grid--flush {

        > .o-grid__item {
            padding: 0;
        }
    }


    &.o-grid--tiny {

        > .o-grid__item {
            padding: $global-spacing-unit-tiny;
            padding-left: 0;

            &:first-of-type {
                padding-left: $global-spacing-unit-tiny;
            }
        }
    }


    &.o-grid--small {

        > .o-grid__item {
            padding: $global-spacing-unit-small;
            padding-left: 0;

            &:first-of-type {
                padding-left: $global-spacing-unit-small;
            }
        }
    }


    &.o-grid--large {

        > .o-grid__item {
            padding: $global-spacing-unit-large;
            padding-left: 0;

            &:first-of-type {
                padding-left: $global-spacing-unit-large;
            }
        }
    }


    &.o-grid--huge {

        > .o-grid__item {
            padding: $global-spacing-unit-huge;
            padding-left: 0;

            &:first-of-type {
                padding-left: $global-spacing-unit-huge;
            }
        }
    }
}
