/* ==========================================================================
   PACK VERSION
   ========================================================================== */

/**
 * The pack object in a Flexbox way.
 *
 * 1. Fill all available space.
 * 2. Remove any leftover styling from lists.
 * 3. IE9 fallback.
 */

.o-pack {
    width: 100%; /* [1] */
    margin-left: 0; /* [2] */
    display: block; /* [3] */
    display: flex;
}


/**
* 1. Cause children to adopt flex-like structure. Same as `1 1 0`
* 2. Sets default spacing between flexed elements.
* 3. Cleans the space for the last one.
*/

.o-pack__item {
    flex: 1; /* [1] */
    margin-right: $global-spacing-unit; /* [2] */

    &:last-child {
        margin-right: 0; /* [3] */
    }
}





/* Vertical alignment variants.
    ========================================================================= */

.o-pack--middle {
    align-items: center;
}


.o-pack--bottom {
    align-items: flex-end;
}





/* Space variations.
   ========================================================================== */

.o-pack--flush {

    > .o-pack__item {
        margin-right: 0;
    }

}

.o-pack--tiny {

    > .o-pack__item {
        margin-right: $global-spacing-unit-tiny;

        &:last-child {
            margin-right: 0;
        }
    }

}


.o-pack--small {

    > .o-pack__item {
        margin-right: $global-spacing-unit-small;

        &:last-child {
            margin-right: 0;
        }
    }

}


.o-pack--large {

    > .o-pack__item {
        margin-right: $global-spacing-unit-large;

        &:last-child {
            margin-right: 0;
        }
    }

}


.o-pack--huge {

    > .o-pack__item {
        margin-right: $global-spacing-unit-huge;

        &:last-child {
            margin-right: 0;
        }
    }

}





/* Unequal-width items.
   ========================================================================== */

/**
 * 1. Flex-grow to zero.
 */

.o-pack--auto {

    > .o-pack__item {
        flex: 0 1 auto; /* [1] */
    }

}





/* Reversed order packs
   ========================================================================== */

.o-pack--reverse {
    flex-direction: row-reverse;

    > .o-pack__item {
        margin-right: 0;
        margin-left: $global-spacing-unit;

        &:last-child {
            margin-left: 0;
        }
    }

    &.o-pack--tiny {

        > .o-pack__item {
            margin-left: $global-spacing-unit-tiny;
        }

    }

    &.o-pack--small {

        > .o-pack__item {
            margin-left: $global-spacing-unit-small;
        }

    }

    &.o-pack--large {

        > .o-pack__item {
            margin-left: $global-spacing-unit-large;
        }

    }

    &.o-pack--huge {

        > .o-pack__item {
            margin-left: $global-spacing-unit-huge;
        }

    }

}
