/* ==========================================================================
   RESPONSIVE SETTINGS
   ========================================================================== */

/**
 * Breakpoints
 *
 * Feel free to change or add names and values.
 * Why you should use 'em' units instead of pixels to define media queries:
 * https://zellwk.com/blog/media-query-units/
 *
 * 40em ~ 640px
 * 64em ~ 1024px
 * 100em ~ 1600px
 */


$breakpoints: (
    mobile:     "screen and (max-width: 40em)",
    desktop:    "screen and (min-width: 64em)",
    wide:       "screen and (min-width: 100em)"
) !default;
