/* ==========================================================================
   COLORS SETTINGS
   ========================================================================== */

/**
 * Branding colors.
 */

$color-branding-primary: #acc743;


/**
 * Notification colors.
 */

$color-notify-success: #4caf50;
$color-notify-info: #29b6f6;
$color-notify-warning: #ff9800;
$color-notify-danger: #f44336;
