/* ==========================================================================
   FONT-SIZE TOOLS
   ========================================================================== */

/**
 * Mixin to add font-size to an element.
 * It automatically converts `px` units into `rem` values and also `px` values
 * for old IEs not supporting `rem` values.
 *
 * Rule of thumb: Use rem units unless you’re sure you need em units, including
 * on font sizes. More info: https://goo.gl/BGG47K.
 *
 *
 * .foo {
 *   @include font-size();
 * }
 *
 * .bar {
 *   @include font-size(32px);
 * }
 */

@mixin font-size($font-size, $line-height: auto, $baseline-modifier: 1, $important: false) {

    @if (type-of($font-size) == number) {
        @if (unit($font-size) != "px") {
            @error "`#{$font-size}` needs to be a pixel value.";
        }
    } @else {
        @error "`#{$font-size}` needs to be a number.";
    }

    @if ($important == true) {
        $important: !important;
    } @elseif ($important == false) {
        $important: null;
    } @else {
        @error "`#{$important}` needs to be `true` or `false`.";
    }

    // We provide a `px` fallback for old IEs not supporting `rem` values.
    font-size: $font-size $important;
    font-size: ($font-size / $inuit-global-font-size) * 1rem $important;

    @if ($line-height == "auto") {

        $line-height: (ceil($font-size / $inuit-global-baseline-factor) + $baseline-modifier) * $inuit-global-baseline-factor;

        @if ($line-height == $font-size) {
            $baseline-modifier: $baseline-modifier + 1;
            $line-height: (ceil($font-size / $inuit-global-baseline-factor) + $baseline-modifier) * $inuit-global-baseline-factor;
        }

        line-height: ceil(($line-height / $font-size) * 1000) / 1000;

    }

    @else {

        @if (type-of($line-height) == number or $line-height == "inherit" or $line-height == "normal") {
            line-height: $line-height $important;
        }

        @elseif ($line-height != "none" and $line-height != false) {
            @error "D’oh! `#{$line-height}` is not a valid value for `$line-height`.";
        }

    }
}
